<div class="side-top">
      <div class="side-top-left">
        <a href="#">TOM</a>
      </div>
      <div class="side-top-right">
        <a hrer="#">チャットを作成する</a>
      </div>
    </div>
    <div class="side-bottom">
      <div class="room">
        <div class="roomname">
          <a href="#">techroom1</a>
        </div>
      </div>
      <div class="room">
        <div class="roomname">
          <a href="#">techroom2</a>
        </div>
      </div>
    </div>